{% extends 'base.html' %}
{% block main %}

{% include 'nav.html' %}
<div class=" ml-20 flex justify-center">
    <div class="items-center w-2/5 p-0">
        <img src="https://i.pinimg.com/564x/cb/38/bb/cb38bbfea6928cdeb70adee757e2915b.jpg">
    </div>
    <div class="w-3/5 mr-20">
        <h1 class="text-4xl text-blue-900 mt-40 ">About Us</h1>
        <h2 class="m-2 text-2xl">Food POS</h2>
        <p class="mt-2 ml-4">คือว่าในปัจจุบันเป็นยุคแห่งการใช้เทคโนโลยี เช่น ผู้คนนิยมใช้อุปกรณ์อิเล็กทรอนิกกัน อย่างแผร่หลายเนื่องจากพกพาง่ายและสะดวกต่อการใช้งาน จากปัจจัยที่กลาวมาข้างต้น พวกเราได้มองเห็นปัญหา เช่น ในร้านอาหารต่างๆ เวลาที่จะสั่ง อาหารต้องใช้กระดาษเพื่อ ลิสต์ ออร์เดอร์อาหารที่ต้องการแล้วยื่นให้กับพนักงาน แต่ไม่ใช้ว่าจะมีเพียงแค่ 1 โต๊ะที่จะสั่งอาหาร จึงทำให้เกิดความล่าช้า และเสียเวลา แล้วเราไม่รู้ด้วยว่า บิลที่เราบออร์เดอร์แล้ว มาก่อนมาหลัง พวกเราจึงได้พัฒนา
        (Web Application)นี้ขึ้นมา</p>
    </div>
</div>

{% endblock %}