{% extends 'base_1.html' %}

{% block main %}


<header>
<div class="block p-6 rounded-lg shadow-lg bg-gray-100 max-w-sm mx-auto mt-[7%]">
  <p class="text-2xl font-semibold mb-5">เพิ่มงานที่ต้องทำ</p>

<div class="w-full bg-gray-100 rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"></div>
<form action="/myadmintrator/updaterecord/{{ members.id }}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
<div class="mb-6 w-[100%] mx-auto ">
  <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">ชื่อเรื่อง</label>
  <input name="title" value="{{members.title}}" type="text" id="default-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
</div>

<div class="mb-6 w-[100%] mx-auto ">
  <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">รายละเอียด</label>
  <input id="message" value="{{members.description}}" rows="4" name="description" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="ใส่รายละเอียด..."></input>
</div>

<div class="mb-6 w-[100%] mx-auto ">
  <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">วันที่สิ้นสุด</label>
  <input name="deadline" value="{{members.deadline}}" type="datetime-local" id="default-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
</div>
    <button href="#" type="submit" class="w-[50%] ml-[28%] py-2 rounded-lg text-white bg-blue-600 hover:bg-blue-700 ">เพิ่ม</button>
      </form>
    </div>
</header>
  


{% endblock %}